<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional">
  <test thread-count="5" name="Functional">
      <groups>
      <run>
      <include name="sanity"></include>
      <include name="functional"></include>
      
      </run>
      
      
      
      </groups>  
    <classes>
      <class name="testng.GroupingDemo2"/>
      <class name="testng.GroupingDemo1"/>
      <class name="testng.GroupingDemo"/>
    </classes>
  </test> <!-- Functional -->
</suite> <!-- Functional -->
